html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#upload-section-1 {
    height: 100%;
    background-color: cadetblue;
}

/*#upload-section-1 .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

#upload-section-1 .card {
    width: 70%;
    border-radius: 5px;
}

#upload-section-1 .card>p {
    min-width: 700px;
}